/* media section */

/* mobile version */

@media screen and (max-width: 576px) {

    .nav-main-container,
    .nav-info,
    .banner-container,
    .mid-banner-container {
        flex-direction: column;
    }

    .nav-info {
        width: 300px;
        align-items: center;
    }

    .banner-container {
        flex-direction: column-reverse;
        align-items: center;
        background-size: 400px 400px;
        background-position: bottom;
        padding-left: 40px;
    }

    .banner-img img {
        height: 350px;
    }

    .mid-banner-container {
        padding: 0;
        align-items: center;
        background: white;
    }

    .mid-banner-info {
        text-align: center;
    }

    .mid-banner-img img {
        height: 200px;
    }
}

/* tablet version */

@media screen and (min-width:576px) and (max-width:992px) {

    .nav-main-container,
    .nav-info {
        flex-direction: column;
    }

    .banner-container {
        flex-direction: column-reverse;
        background-size: auto 500px;
        background-position: bottom;
    }

    .banner-img img {
        height: 600px;
    }
}