/* media section */

/* mobile version */

@media screen and (max-width: 576px) {

    .nav-main-container,
    .nav-info,
    .banner-container,
    .mid-banner-container,
    .online-game-container {
        flex-direction: column;
    }

    .nav-info {
        width: 300px;
        align-items: center;
    }

    .banner-container {
        flex-direction: column-reverse;
        align-items: center;
        background-size: 400px 400px;
        background-position: bottom;
        padding-left: 40px;
    }

    .banner-info {
        margin-bottom: 20px;
    }

    .banner-img img {
        height: 350px;
    }

    .banner-info h2 {
        font-size: 3rem;
    }

    .mid-banner-container {
        padding: 0;
        align-items: center;
        background: white;
    }

    .mid-banner-info {
        text-align: center;
    }

    .mid-banner-img img {
        height: 200px;
    }

    .online-game-container {
        align-items: center;
        margin: auto;
        margin-top: 40px;
        text-align: center;
    }

    .online-game-main h2,
    .banner-info h3,
    .mid-banner-info h2,
    .mid-banner-info h6 {
        font-size: 1.5rem;
    }

    .online-game-main p,
    .primary-description,
    .btn-sign,
    .btn-go,
    .mid-banner-info p,
    .mid-banner-btn {
        font-size: 0.8rem;
    }
}

/* tablet version */

@media screen and (min-width:576px) and (max-width:992px) {

    .nav-main-container,
    .nav-info,
    .mid-banner-container,
    .online-game-container {
        flex-direction: column;
    }

    .banner-container {
        flex-direction: column-reverse;
        background-size: auto 500px;
        background-position: bottom;
    }

    .banner-img img {
        height: 600px;
    }
    .mid-banner-container {
        padding: 0;
        align-items: center;
        background: white;
    }
    .mid-banner-info {
        text-align: center;
    }
    .online-game-main h2{
        font-size: 2rem;
    }
}