@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
    border: 0;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #3C354F;
    font-size: 1.2rem;
    font-weight: 500;
}

/* nav section  */
.nav-main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 39px 240px;

}

.nav-logo-container {
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav-logo-container img {
    width: 86.041px;
    height: 40px;
}

.logo-tittle {
    color: #0B0223;
    font-size: 2.8rem;
    font-weight: 700;
}

.logo-tittle-g {
    color: #FF42A5;
}

.nav-info {
    display: flex;
    justify-content: space-around;
    gap: 32px;
    align-items: center;
}

.nav-follow {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 17px 24px;
}

/* banner section start */

.banner-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 100px;
    background: #FFF;
    background-image: url("images/Group\ 14.png");
    background-repeat: no-repeat;
    background-position: left;
}


.banner-info h3 {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
}

.banner-info h2 {
    font-size: 5.9375rem;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.primary-description {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
}

.banner-info p {
    padding-top: 20px;
}

.banner-btn {
    padding-top: 30px;
}

.btn-sign {
    border-radius: 48px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    padding: 21px 40px;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
}

.btn-go {
    border-radius: 48px;
    background: #4EC5F7;
    padding: 21px 40px;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
}

/* mid banner  */
.mid-banner-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 240px;
    padding-right: 240px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.mid-banner-info {
    text-align: right;
}

.mid-banner-info h2 {
    font-size: 3rem;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mid-banner-info p {
    color: #534C64;
    font-size: 1.125rem;
    font-weight: 400;
    padding-top: 24px;
    padding-bottom: 24px;
}

.mid-banner-btn {
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 48px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    padding: 21px 40px;
}

.mid-banner-info h6 {
    color: #534C64;
    font-size: 2rem;
    font-weight: 700;
    padding-top: 24px;
}

/* online game container  */

.online-game-tittle {
    text-align: center;
    margin-top: 120px;
}

.online-game-container {
    display: flex;
    justify-content: space-evenly;
    gap: 24px;
    margin-left: 240px;
    margin-right: 240px;
    margin-top: 48px;

}

.online-game-main h2 {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
}

.online-game-main h2>span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.img-description {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    padding-top: 24px;
}

/* download and install seection  */

.download-main-container {
    border: 1px solid rgb(4, 0, 255);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 150px;
    margin-top: 120px;
}

.download-install {
    border: 2px solid blue;
    text-align: right;
    width: 400px;

}

.download-install h2 {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
    padding-bottom: 24px;
}

.download-install p {
    color: #534C64;
    font-size: 1.125rem;
}

.download-install h2>span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.download-img div > img{
    position: relative;
    bottom: 300px;
    right: 150px;
    border: 1px solid red;
}
.download-img{
    border: 2px solid red;
}
